* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --right: 100%;
  --left: 0;
  --transition: 0;
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
  --right: 0;
  --left: 100%;
  --transition: -100%;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  /* Transformar todo a instruçao acima em uma unica linha
  background: color - img - repeat - position/size */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;

  #container {
    width: 100%;
    max-width: 588px;
    margin: auto;
    padding: 0 24px;
  }

  #profile {
    text-align: center;
    padding: 24px;
  }

  #profile img {
    width: 112px;
    margin-top: 50px;
  }

  #profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
  }

  /* -------- switch -------- */
  #switch {
    position: relative;
    width: 64px;
    margin: 4px auto;

    button:hover {
      outline: 8px solid var(--highlight-color);
    }

    button {
      transition: all 0.1s ease-out;
      width: 32px;
      height: 32px;
      background: white var(--switch-bg-url) no-repeat center;
      border: 0;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: var(--left);
      right: var(--right);
      z-index: 1;
      transform: translateY(-50%) translateX(var(--transition));
    }

    span {
      display: block;
      width: 64px;
      height: 24px;
      background: var(--surface-color);
      border: 1px solid var(--stroke-color);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 100px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;

    li a:hover {
      background: var(--surface-color-hover);
      border: 1.5px solid var(--text-color);
    }

    li a {
      transition: background 0.2s;
      text-decoration: none;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 24px;
      background: var(--surface-color);
      border: 1px solid var(--stroke-color);
      border-radius: 8px;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
    }
  }

  #social-links a:hover {
    background: var(--highlight-color);
  }

  #social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;

    a {
      transition: background 0.2s;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
    }
  }

  footer {
    padding: 24px 0px;
    text-align: center;
  }
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
